.container__big-card {
	border: solid white 2px;
	/* border-radius: 5px; */
	margin-left: 10px;
	margin-right: 20px;

	
	width: 400px;
	height: 500px;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.big-card__title > h1 {
	margin-top: 15px;
	font-size: 20px;
}

.big-card__description > p {
	margin-top: 10px;
	color: grey;
}