<div class="container__big-card">
	<div class="big-card__photo">
		<img
		src="https://picfiles.alphacoders.com/177/177790.jpg"
		alt=""
		height="200px"
	>

	</div>
	<div class="big-card__title">
		<h1><a href="#">Saiu a nova versão do Angular</a></h1>
	</div>
	<div class="big-card__description">
		<p>
			<a href="#">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Faucibus ornare suspendisse sed nisi lacus.
			</a>
		</p>
	</div>
</div>